body {
    background: purple;
    color: white
}

.sprite {
    display: none;
}

.resourceIcon {
    width:auto;
    height:1rem;
}

.container {
    border: 5px, black, solid;
}

#uiHeader {
    display: flex;
    justify-content: space-between;
}

#uiFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}